.game-life
    .game-life__board
        .board
    .game-life__controllers 
        .input.input_height 
        .input.input_width 
        .button.button_clear 
        .button.button_pause 
        .button.button_start