.game-life
    .game-life__board
        .board
    .game-life__controllers 
        input.input.input_height 
        input.input.input_width 
        button.button.button_clear 
        button.button.button_pause 
        button.button.button_start