include ../input/input
include ../button/button

.game-life
    .game-life__board 
    .game-life__controllers 
        +input({ type: 'height', value: 25 })
        +input({ type: 'width', value: 50 })
        +button({ type: 'start', text: 'start' })
        +button({ type: 'pause', text: 'pause' })
        +button({ type: 'clear', text: 'clear' }) 